.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
    /* display: inline-block; */
}

.container{
    background: #414141;
    padding: 1.2rem 1rem;
    border-radius: 2%;
}

.container img{
    width: 100%;
}

.project-title{
    color: #fff;
    padding: 1rem;
}

.card-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: #ffffff; /* Set text color */
}

.card-details p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.card-btns {
    display: flex;
    justify-content: space-between; /* Align buttons to the right */
    margin-top: auto; /* Push buttons to the bottom */
}

.card-btns .btn {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem; /* Add margin between the buttons */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add button border radius */
    cursor: pointer; /* Add pointer cursor on hover */
    font-size: 14px; /* Set font size */
}

.card-btns .btn:hover {
    background-color: #0056b3; /* Change background color on hover */
}
.card-btns .btn:first-child {
    /* margin-right: 10px; */
    margin-top: 15px ;
    /* margin-bottom: 0px; Adjust the value as needed */
}

@media screen and (max-width: 1020px){
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;

    }
}